<div class='container w-75 center-div'>
    <div class='container w-20 border p-5'>
        {{#if errors}}
            <h2 class='text-center my-2'>DISPLAY ERROR HERE</h2>    
        {{/if}}
    </div>
</div>