/* Global styles */
:root {
    --font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #6A7B8B;
    --secondary-bg-2-color: #5C5B5B; 
    --secondary-text-color: #F1F3F5;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    font-family: var(--font-family);
}

.btn-style {
    background-color: var(--secondary-bg-2-color);
    border: solid 2px var(--secondary-bg-2-color);
    color: var(--secondary-text-color);
}

.btn-style:hover {
    background-color: var(--secondary-bg-color);
    border: solid 2px var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

/* Nav styles */
nav {
    padding: 0 2%;
    background-color: var(--secondary-bg-color);
}

nav a, .nav-link{
    color: var(--primary-bg-color);
}

/* Home page */
td img {
    height: 3vh;
}

/* Schedule page */
svg {
  height: 2vh;
}